body {
  margin: 0;
  padding: 0;
  font-family: "Verdana";
  font-size: 20px;
}

h1 {
  font-size: 1.2em;
  color: #eee;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 0.8em;
}

p {
  font-size: 0.6em;
}

a {
  text-decoration: none;
}

.box {
  border: 1px solid blue;
  background: #F8FA9D;
  }

.container {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-template-areas:
    "hd hd hd"
    "main main main"
    "ft ft ft";
}

/*NAVIGATION*/

.nav {
  grid-area: hd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height:100%;
  background-color: #444;
}

.navitem {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*CONTENT*/

.content {
  grid-area: main;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: inherit;
}

.gap {
  background-color: yellow;
}

.blog {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blogA {
  grid-area: bloga;
}

.picture img {
  width: 100%;
  height:auto;
}

.caption {
  height: 50%;
  color: black;
  margin:0;
}

.caption a {
  font-size: 0.8em;
  font-style: italic;
}

/*FOOTER*/

.footer {
  grid-area: ft;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:120px;
  background-color: #ECECEC;
}


.foot {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.logo {
  height:88px;
  width: 88px;
  overflow: hidden;
  position: relative;
}

.facebook img{
margin: -334px 100px 0 -208px;
}
.youtube img{
margin: -90px 0 0 -85px;
}
.twitter img{
margin: -90px 0 0 -208px;
}
