body {
  margin: 0;
  padding: 0;
  font-family: "Verdana";
  font-size: 20px;
}

h1 {
  font-size: 1em;
}

h2 {
  font-size: 0.8em;
}

h3 {
  font-size: 0.7em;
}

p {
  font-size: 0.6em;
}

a {
  text-decoration: none;
  color:white;
}

.box {
  border: 1px solid blue;
  background: #F8FA9D;
  } /*use while building to visualize - delete on completion?*/

.container {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-template-areas:
    "hd hd hd"
    "sd main main"
    "ft ft ft";
}

/*NAVIGATION*/

.nav {
  grid-area: hd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height:100%;
  background-color: orange;
}

.navitem {
  border: 1px solid black;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*SIDEBAR*/

.sidebar {
  grid-area: sd;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  background-color: white;
}

.item {
  margin: 2px;
  padding-left: 10px;
  background-color: #ddd;
}

.active {
  background-color: #444;
  color: #eee;
}

a:hover {
  color: green;
}

/*CONTENT*/

.content {
  grid-area: main;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: minmax(100px, auto);
  grid-gap: 10px;
  grid-template-areas:
  "bloga blogb"
  "blogc blogd";
  padding: 10px;
  background-color: inherit;
}

.blog {
  border: 1px solid #ddd;

}

.blogA {
  grid-area: bloga;
}

.blogB {
  grid-area: blogb;
  display: flex;
  flex-direction: column;
  height:200px;
}

.blogC {
  grid-area: blogc;
}

.blogD {
  grid-area: blogd;
}

.picture img {
  width: 100%;
  height:auto;
}

.caption {
  height: 50%;
  color: black;
}

/*FOOTER*/

.footer {
  grid-area: ft;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:60px;
  background-color: green;
}

.foot {
  border: 1px solid yellow;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
